{{ define "main" }}
<div role="main" class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!--            {{ with .Content }}-->
            <div class="well">
                {{.Params.item1}}
                {{.Params.item2}}
            </div>
<!--            {{ end }}-->

            <div class="posts-list">

<!--                {{ printf "%#v" $.Paginator }}-->

                {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
                {{ range $pag.Pages }}
                <article class="post-preview">

                    <a href="{{ .Permalink }}">
                        <h2 class="post-title"> {{ .Title }}</h2>
<!--                        {{ if .Params.subtitle }}-->
<!--                        <h3 class="post-subtitle">-->
<!--                            {{ .Params.subtitle }}-->
<!--                        </h3>-->
<!--                        {{ end }}-->
                    </a>

<!--                    {{ partial "post_meta.html" . }}-->
<!--                    <div class="post-entry">-->
<!--                        {{ if .Truncated }}-->
<!--                        {{ .Summary }}-->
<!--                        <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>-->
<!--                        {{ else }}-->
<!--                        {{ .Content }}-->
<!--                        {{ end }}-->
<!--                    </div>-->

                </article>
                {{ end }}
            </div>

        </div>
    </div>
</div>
{{ end }}

