<div class="indent-sm">
  <input class="toggle" type="checkbox"/>
  {{ if .Get "title" }}
  {{.Get "title"}}
  {{ else }}
  Toggle solution
  {{ end }}
  <div>
    {{ .Inner | .Page.RenderString }}
  </div>
</div>